requests
beautifulsoup4
playwright
python-dotenv
streamlit
nest-asyncio
yfinance

cd /mnt/d/Projects/ReScanX && /mnt/c/Windows/System32/cmd.exe /c "D:\Projects\ReScanX\venv\Scripts\streamlit.exe run D:\Projects\ReScanX\app.py"